<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'static/styles/css/es10.css' %}"
      type="text/css"
    />
  </head>

  <body class="text-center bg-light">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
      <header class="mb-auto">
        <nav
          class="navbar navbar-dark bg-primary d-flex justify-content-between"
        >
          <a class="navbar-brand mb-0 h1" href="/">MateFacil</a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/"
                >Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listPractices' %}">Practicar</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listCalassrooms' %}"
                >Mis Clases</a
              >
            </li>
            {% endif %}
          </ul>
          <ul class="nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >{{user.username}}</a
              >
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="{% url 'profile' %}">Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}"
                  >Cerrar sección</a
                >
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Entrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Registrar</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <main role="main" class="inner">
        <div class="container-fluid mt-3">
          <div class="row align-items-center justify-content-center">
            <div class="col-11">
              {% if messages %} {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %} {% endif %}
              <div class="container">{% block content %} {% endblock %}</div>
            </div>
          </div>
        </div>
      </main>

      <!-- Footer -->
      <footer class="bg-dark text-white p-3 mt-auto">
        <div>
          <a class="text-white" href="#"><b>MateFacil</b></a> Copyright 2024
        </div>
      </footer>
    </div>

    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
