{% extends "static/base.html" %}
{% block title %} Editar Clase {% endblock %}
{% block content %}
<div class="bg-white border rounded py-3 px-5">
  <legend><b>{{name}}</b></legend>
  <div class="list-group list-group-horizontal">
    <a
      href="/listCalassrooms/{{name}}/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Mensajes
    </a>
    <a
      href="/listCalassrooms/{{name}}/members/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Miembros
    </a>
    <a
      href="/listCalassrooms/{{name}}/listHomework/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Tareas
    </a>
    <a
      href="/listCalassrooms/{{name}}/listExam/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Examenes
    </a>

    {% if perms.center.add_classes %}
    <a
      href="/listCalassrooms/{{name}}/profileClass/"
      class="list-group-item list-group-item-info list-group-item-action active"
    >
      Detalles de la Clase
    </a>
    {% elif perms.center.add_classrooms %}
    <a
      href="delete/"
      onclick="return deleten()"
      class="list-group-item list-group-item-primary list-group-item-action"
    >
      Salir de la clase
    </a>
    {% endif %}
  </div>
  <hr />

  <legend>Detalles de la clase</legend>

  <div>
    <div class="container-fluid">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group text-left">
          <label>Nombre:</label>
          <input
            type="text"
            class="form-control"
            name="changeName"
            value="{{class.name}}"
            placeholder="Inserta el nombre de la clase..."
            required
          />
        </div>
        <button
          type="submit"
          name="accept"
          class="px-4 btn badge-pill btn-primary"
        >
          Cambiar nombre
        </button>
      </form>
      <hr />
      <a href="/listCalassrooms/{{name}}/profileClass/deleteClass/">
        <button
          type="submit"
          name="accept"
          class="px-4 btn badge-pill btn-danger"
        >
          Eliminar clase
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
