{% extends "static/base.html" %}
{% block title %} Salon de clases {% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>{{n}}</b></legend>
  <div class="list-group list-group-horizontal">
    <a
      href="members/"
      class="list-group-item list-group-item-info list-group-item-action active"
    >
      Mensajes
    </a>
    <a
      href="members/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Miembros
    </a>
    <a
      href="listHomework/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Tareas
    </a>
    <a
      href="listExam/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Examenes
    </a>

    {% if perms.center.add_classes %}
    <!-- <a
      href="profileClass/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Detalles de la Clase
    </a> -->
    {% elif perms.center.add_classrooms %}
    <!-- <a
      href="delete/"
      onclick="return deleten()"
      class="list-group-item list-group-item-primary list-group-item-action active"
    >
      Salir de la clase
    </a> -->
    {% endif %}
  </div>
  <hr />

    <legend>Mensajes:</legend>
    {% if com %}
        {% for c in com %}
        <div class="alert alert-secondary text-left" role="alert">
          <img
              class="rounded-circle"
              src="{{c.user_comment.profile.image.url}}"
              width="25"
              height="25"
              alt="{{c.user_comment.username}}_ProfileImg"
            /> 
            <b>{{c.user_comment.username}}</b> - {{c.time}}
          <hr>
          <div class="container">
            {{c.text}}
          </div>
        </div>
        {% endfor %}
    {% else %}<b>Sin comentarios</b>{% endif %}
    <hr />
    <form method="POST">
      {% csrf_token %}
      <div class="form-group text-left">
        <label>Nuevo mensaje:</label>
        <textarea
          class="form-control"
          name="msj"
          rows="3"
          placeholder="Comentar..."
        ></textarea>
      </div>
      <button class="px-4 btn badge-pill btn-success" type="submit">
        Enviar
      </button>
    </form>
    
  <script type="text/javascript">
    function deleten() {
      var x = confirm("want delete your user ?");
      if (x) return true;
      else return false;
    }
  </script>
</div>
{% endblock %}
