{% extends "static/base.html" %}
{% block title %}
Crear Clase
{% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>Crear nueva clase</b></legend>
  <form method="POST" class="">
    {% csrf_token %}

    <div class="form-group text-left">
      <label>Tipo de clase:</label>
      <select class="form-control" name="tip">
        {% for t in query %}
        <option value="{{t.id}}">{{t.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group text-left">
      <label>Nombre de la clase:</label>
      <input name="nameClass" type="text" class="form-control" placeholder="Inserta el nombre de la clase..." required/>
    </div>

    <button type="submit" class="px-4 btn badge-pill btn-info">Aceptar</button>
  </form>
</div>
{% endblock %}
