{% extends "static/base.html" %}
{% block title %} Crear Examen {% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>Nuevo Examen</b></legend>
  <form method="POST" action="/listCalassrooms/{{name}}/generationWork/">
    {% csrf_token %}
    <input type="hidden" name="work" value="2" />

    <div class="container"> <div class="row">
    <div class="col-7 text-right h5">
     <div class="form-group text-left">
      <label>Nombre del examen:</label>
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="Inserte el nombre del examen..."
        required
      />
    </div> 
      
    </div>
    <div class="col-5 text-left">

    <div class="form-group text-left h5">
      <label>Fecha finalizacion:</label>
      <input
        type="date"
        class="form-control"
        name="bday"
        min="{{d}}"
        placeholder="Selecciona una fecha..."
        required
      />
    </div> </div> </div>
  </div>

    <div class="form-group text-left h6">
      <label
        >Cantidad de trabajos generados en este examen:
        <span class="badge badge-secondary" id="quantity-info">1</span>
      </label>
      <input type="hidden" name="quantity" id="quantity-value" value="1" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="10"
        value="1"
        id="quantity"
      />
      <script>
        document.getElementById("quantity").oninput = function () {
          document.getElementById("quantity-info").innerHTML = this.value;
          document.getElementById("quantity-value").value = this.value;
        };
      </script>
    </div>

    {% if type.type_c_id == 1 %}
    <div class="form-group text-left">
      <label
        >Tamaño de la operación:
        <span class="badge badge-secondary" id="size-info">10</span></label
      >
      <input type="hidden" name="size" id="size-value" value="10" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="4"
        value="1"
        id="size"
      />
      <script>
        document.getElementById("size").oninput = function () {
          document.getElementById("size-info").innerHTML = 10 ** this.value;
          document.getElementById("size-value").value = 10 ** this.value;
        };
      </script>
    </div>

    <div class="form-group text-left">
      <label>Operaciónes:</label>
      <div class="form-inline">
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="+" checked />
          <label class="form-check-label ml-2">Suma</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="-" />
          <label class="form-check-label ml-2">Resta</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="z" />
          <label class="form-check-label ml-2">Multiplicación</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="/" />
          <label class="form-check-label ml-2">División</label>
        </div>
      </div>
    </div>

    <div class="form-group text-left">
      <label>Funciones extras:</label>
      <div class="form-inline">
        <div class="mr-2 input-group-text">
          <input type="checkbox" name="extras" value="n" />
          <label class="form-check-label ml-2">Negativo</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="checkbox" name="extras" value="d" />
          <label class="form-check-label ml-2">Decimales</label>
        </div>
      </div>
    </div>

    {% elif type.type_c_id == 2 %}
    <div class="form-group text-left">
      <label
        >Tamaño de la operación:
        <span class="badge badge-secondary" id="size-info">10</span></label
      >
      <input type="hidden" name="size" id="size-value" value="10" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="4"
        value="1"
        id="size"
      />
      <script>
        document.getElementById("size").oninput = function () {
          document.getElementById("size-info").innerHTML = 10 ** this.value;
          document.getElementById("size-value").value = 10 ** this.value;
        };
      </script>
    </div>

    {% elif type.type_c_id == 3 %}
    <div class="form-group text-left">
      <label
        >Máximo número de variables:
        <span class="badge badge-secondary" id="propSim-info">1</span></label
      >
      <input type="hidden" name="propSim" id="propSim-value" value="1" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="4"
        value="1"
        id="propSim"
      />
      <script>
        document.getElementById("propSim").oninput = function () {
          document.getElementById("propSim-info").innerHTML = this.value;
          document.getElementById("propSim-value").value = this.value;
        };
      </script>
    </div>

    <div class="form-group text-left">
      <label
        >Máxima profundidad:
        <span class="badge badge-secondary" id="maxProf-info">1</span></label
      >
      <input type="hidden" name="maxProf" id="maxProf-value" value="1" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="4"
        value="1"
        id="maxProf"
      />
      <script>
        document.getElementById("maxProf").oninput = function () {
          document.getElementById("maxProf-info").innerHTML = this.value;
          document.getElementById("maxProf-value").value = this.value;
        };
      </script>
    </div>

    {% elif type.type_c_id == 4 %}
    <label class="h5">Configuracion de los grafos</label>
    <div class="form-group text-left">
      <label class="h6">Orden: 
        <span class="badge badge-secondary" id="size-info">3</span></label>
      <input type="hidden" name="size" id="size-value" value="3" />
      <input
        type="range"
        class="form-control-range"
        min="3"
        max="15"
        value="3"
        id="size"
      />
      <script>
        document.getElementById("size").oninput = function () {
          document.getElementById("size-info").innerHTML = this.value;
          document.getElementById("size-value").value = this.value;
        };
      </script>
    </div>

    {% endif %}



    <div class="form-group text-left h6">
      <label>Comentarios o instrucciones para el examen:</label>
      <textarea
        class="form-control"
        name="comment"
        rows="5"
        placeholder="Inserte su comentario..."
      ></textarea>
    </div>

    <button type="submit" class="px-4 btn badge-pill btn-success">
      Crear Examen
    </button>
  </form>
</div>
{% endblock %}
