{% extends "static/base.html" %}
{% block title %} Editar trabajo {% endblock %}
{% block content %}
<div class="row">
    <div class="col-3">
        <div class="list-group">
            {% if valid.type_a_id == 1 %}
            <a href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/" class="list-group-item list-group-item-action">Regresar</a>
            {% elif valid.type_a_id == 2 %}
            <a href="/listCalassrooms/{{name}}/listExam/{{name_work}}/" class="list-group-item list-group-item-action">Regresar</a>
            {% endif %}
        </div>
    </div>
    {% if valid.type_a_id == 1 %}
    <div class="col-sm-9 text-center">
        <h1 class="text-center">Tarea</h1>
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                    <b>Nombre:</b>
                    <input type="text" class="form-control" name="changeName" value="{{valid.name_work}}">
                    <button type="submit" name="accept" class="px-4 btn badge-pill btn-primary">Cambiar</button>
            </form>
            <hr> <br> <hr>
            <a href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/editWorkHome/deleteHome/"> <button type="submit" name="accept" class="px-4 btn badge-pill btn-danger">Delete</button> </a> 
        </div>
    </div>
    {% elif valid.type_a_id == 2 %}
    <div class="col-sm-9 text-center">
        <h1 class="text-center">Examen</h1>
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                    <b>Nombre:</b>
                    <input type="text" class="form-control" name="changeName" value="{{valid.name_work}}">
                    <button type="submit" name="accept" class="px-4 btn badge-pill btn-primary">Cambiar</button>
            </form>
            <hr> <br> <hr>
            <a href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/editWorkHome/deleteHome/"> <button type="submit" name="accept" class="px-4 btn badge-pill btn-danger">Delete</button> </a> 
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}