{% extends "static/base.html" %}
{% block title %} Tarea {% endblock %}
{% block content %}
{% load static %}

<div class="bg-white border rounded py-3 px-5">
  {% if finish %}
  <legend><b>Termino la Tarea</b></legend>
  <hr />
  <a
    href="/listCalassrooms/{{name}}/listHomework/"
    type="button"
    class="px-4 btn badge-pill btn-danger"
  >
    Regresar
  </a>

  {% else %}
  <legend><b>Tarea</b></legend>
  <label>
    Responda los problema y conteste en las casillas correspondientes
  </label>
      {% if wa.classess.type_c_id == 4   %}
        <label>
          Escribe tu respuesta con los numeros de los nodos separados por comas. Ejemplo: 1,0,3
        </label>
      {% endif %}

  <form method="POST" action="valid/">
    {% csrf_token %}
    {% for p in owa %}
    <hr />
    <div class="container px-5">
      <div class="form-group text-left">
        <legend>Ejercicio - {{ p.title }}</legend>
        <div class="container px-3">
          <legend class="bg-light border rounded text-center py-2">
            <b>$${{ p.formula }}$$</b>
          </legend>
        </div>
      </div>

      {% if wa.classess.type_c_id == 1 %}
      <div class="form-group">
        <label>Escribe tu respuesta a continuación:</label>
        <input
          type="number"
          step="any"
          class="form-control text-center"
          name="r{{p.title}}"
          placeholder="Resultado"
        />
      </div>

      {% elif wa.classess.type_c_id == 2 %}
      <div class="form-group text-center">
        <label
          >Seleccione una de las opciones para determinar, la comparación de los
          dos números:</label
        >
        <div class="form-inline d-flex flex-row justify-content-center">
          <div class="mr-2 input-group-text">
            <input type="radio" name="r{{p.title}}" value="mayor_que" checked />
            <label class="form-check-label ml-2">></label>
          </div>
          <div class="mr-2 input-group-text">
            <input type="radio" name="r{{p.title}}" value="menor_que" />
            <label class="form-check-label ml-2"><</label>
          </div>
          <div class="mr-2 input-group-text">
            <input type="radio" name="r{{p.title}}" value="igual" />
            <label class="form-check-label ml-2">=</label>
          </div>
        </div>
      </div>

      {% elif wa.classess.type_c_id == 3 %}
      <input
        type="hidden"
        id="{{p.title}}_values"
        name="{{p.title}}_values"
        value="{{p.aux}}"
      />
      <div id="{{p.title}}_tabla" class="row justify-content-center"></div>

      {% elif wa.classess.type_c_id == 4   %}
      <div class="form-group text-center">
        <img src="{% static 'static/graph/' %}Graph{{p.work_id}}_{{p.title}}.svg" height="500 px" width="500 px">
        <!--{$ path="'static/graph/Graph"+p.work_id+"_"+p.title+".svg'" $}-->
        <!--<img src="{% static 'path' %}" width="800 px">-->
        <!--<b>{{p.work_id}}_{{p.title}} {{p.results}}</b>-->
        <input type="text" name="graphRes{{p.aux}}_{{p.title}}" size="20" required placeholder="1,0,3" pattern="[0-9]+(,([0-9])+)*">
      </div>

      {% endif %}
    </div>
    {% endfor %}
    <br />
    <button class="px-4 btn badge-pill btn-info" type="submit" name="btnA">
      Aceptar
    </button>
    <a
      href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/"
      type="button"
      class="px-4 btn badge-pill btn-danger"
      onclick="confirmExit()"
      >Regresar</a
    >
  </form>
  {% endif %}
</div>

<script>
  window.onbeforeunload = confirmExit;
  function confirmExit() {
    return "Has intentado salir de esta página. ¿Estás seguro?";
  }
</script>

{% if wa.classess.type_c_id == 3 %}
<!-- MathLive -->
<script type="module">
  import {renderMathInDocument} from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";

  $(document).ready(function () {
    {% for p in owa %}
      renderTable({{p.title}});
    {% endfor %}
  });

    function renderTable(ejercicio) {
    let variables = Array.from(document.getElementById(`${ejercicio}_values`).value);
    let tablaVerdad = new Array(variables.length);
    let contenido = ``;

    tablaVerdad.fill(false);

    variables.forEach((element) => {
      contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2"><label>$$${element}$$</label></div>`;
    });

    contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2"><label>$$Respuesta$$</label></div>`;

    // console.log(variables.length);
    for (let i = 0; i < 2 ** variables.length; i++) {
      contenido += ` <div class="w-100"></div>`;

      for (let j = 0; j < variables.length; j++) {
        contenido += `<div class="col my-form-control-array text-center bg-light"><input type="hidden" name="${ejercicio}_${i}${j}" value="${
          tablaVerdad[variables.length - j - 1] ? "1" : "0"
        }"/>${
          tablaVerdad[variables.length - j - 1] ? "$$Verdadero$$" : "$$Falso$$"
        }</div>`;
      }

      for (let index = 0; index < tablaVerdad.length; index++) {
        if (tablaVerdad[index]) {
          tablaVerdad[index] = false;
        } else {
          tablaVerdad[index] = true;
          break;
        }
      }

      contenido += `<select class="custom-select col my-form-control-array text-center" name="r${ejercicio}_${i}" required > <option class="text-muted" value="" selected> Elige... </option> <option class="font-weight-bold text-success" value="1"> Verdadero </option> <option class="font-weight-bold text-danger" value="0"> Falso </option> </select>`;
    }

    document.getElementById(`${ejercicio}_tabla`).innerHTML = contenido;
    renderMathInDocument();
  }
</script>
{% endif %}

<!-- MathLive -->
<script type="module">
  import {renderMathInDocument} from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";
  renderMathInDocument();
</script>
{% endblock %}
