{% extends "static/base.html" %}
{% block title %} Lista de clases {% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <div class="container"><div class="row">
  <div class="col-7 text-right h1"><b>Lista de clases:</b></div>
  <div class="col-5 text-left align-top">
  {% if perms.center.add_classes %}
  <a  class="nav-link" href="{% url 'createClass' %}">
    <button 
      type="button" 
      class="mb-3 px-4 btn badge-pill btn-info"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
    </button>
  </a>
  
  {% elif perms.center.add_classrooms %}
  <button
    type="button"
    class="mb-3 px-4 btn badge-pill btn-info"
    data-toggle="modal"
    data-target="#staticBackdrop"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
  </button>
  
  {% endif %}
  </div>
  </div></div>
  <hr/>
  {% if query %}
  <table class="table border table-striped">
    <thead class="thead-dark">
      <tr style="font-size: 30px">
        <th>Clase</th>
        {% if perms.center.add_classes %}
        <th>Código</th>
        {% elif perms.center.add_classrooms %}
        <th>Materia</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for c in query %}
      {% if perms.center.add_classes %}
      <tr style="font-size: 20px">
        <td>
          <a href="{% url 'classroom' c.name %}" class="text-primary">
            <b>{{c.name}}</b>
          </a>
        </td>
        <td>{{c.codes}}</td>
        {% elif perms.center.add_classrooms %}
        <td>
          <a href="{% url 'classroom' c.classess.name %}" class="text-primary">
            <b>{{c.classess.name}}</b>
          </a>
        </td>
        <td>{{c.classess.type_c.name}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <hr />
  <legend>No hay practicas</legend>
  {% endif %}
</div>

{% if perms.center.add_classrooms %}
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{% url 'validCode' %}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            Agregar Nueva Clase
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group text-left">
            <label>Codigo de la clase:</label>
            <input
              type="text"
              name="classIns"
              class="form-control"
              placeholder="Inserta el código de la clase..."
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="px-4 btn badge-pill btn-danger"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="px-4 btn badge-pill btn-success">
            Agregar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
