{% extends "static/base.html" %}
{% block title %} Lista de Examenes {% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>{{n}}</b></legend>
  <div class="list-group list-group-horizontal">
    <a
      href="/listCalassrooms/{{n}}/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Mensajes
    </a>
    <a
      href="/listCalassrooms/{{n}}/members/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Miembros
    </a>
    <a
      href="/listCalassrooms/{{n}}/listHomework/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Tareas
    </a>
    <a
      href="/listCalassrooms/{{n}}/listExam/"
      class="list-group-item list-group-item-info list-group-item-action active"
    >
      Examenes
    </a>

    {% if perms.center.add_classes %}
    <!-- <a
      href="/listCalassrooms/{{n}}/profileClass/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Detalles de la Clase
    </a> -->
    {% elif perms.center.add_classrooms %}
    <!-- <a
      href="delete/"
      onclick="return deleten()"
      class="list-group-item list-group-item-primary list-group-item-action active"
    >
      Salir de la clase
    </a> -->
    {% endif %}
  </div>
  <hr />

  <div class="container"> <div class="row">
  <div class="col-7 text-right h3"><b>Lista de Examenes</b></div>
  <div class="col-5 text-left">
  {% if perms.center.add_classes %}
  <a href="createExam/">
    <button type="button" class="mb-3 px-4 btn badge-pill btn-info text-left">
      Crear Examen
    </button>
  </a>
  {% endif %}
  </div></div> </div>
  <div class="container">
    {% if list %}
    {% for l in list %}
    <div class="alert alert-secondary text-left" role="alert">
      <a
        href="/listCalassrooms/{{n}}/listExam/{{l.name_work}}"
        class="text-dark"
      >
        <b>{{l.name_work}}</b>
      </a>
      <hr />
      <small class="container">
        Esta tarea se entrga antes de la fecha <i>{{l.finish_date}}</i>
      </small>
    </div>
    {% endfor %}
    {% else %}
    <b>No hay tareas</b>
    {% endif %}
  </div>
</div>
{% endblock %}
