{% extends "static/base.html" %}
{% block title %} Miembros {% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>{{n}}</b></legend>
  <div class="list-group list-group-horizontal">
    <a
      href="/listCalassrooms/{{n}}/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Mensajes
    </a>
    <a
      href="/listCalassrooms/{{n}}/members/"
      class="list-group-item list-group-item-info list-group-item-action active"
    >
      Miembros
    </a>
    <a
      href="/listCalassrooms/{{n}}/listHomework/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Tareas
    </a>
    <a
      href="/listCalassrooms/{{n}}/listExam/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Examenes
    </a>

    {% if perms.center.add_classes %}
    <!-- <a
      href="/listCalassrooms/{{n}}/profileClass/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
    >
      Detalles de la Clase
    </a> -->
    {% elif perms.center.add_classrooms %}
    <!-- <a
      href="delete/"
      onclick="return deleten()"
      class="list-group-item list-group-item-primary list-group-item-action active"
    >
      Salir de la clase
    </a> -->
    {% endif %}
  </div>
  <hr />

  <legend>Lista de Miembros</legend>
  
  <table class="table border table-striped">
    <thead class="bg-secondary text-white">
      {% for t in tea %}
      <tr>
        <th>
          <img
            class="account-img rounded"
            src="{{t.teacher.profile.image.url}}"
            width="25"
            height="25"
            alt="Smiley face"
          />
        </th>
        <th>{{t.teacher.first_name}}</th>
        <th>{{t.teacher.last_name}}</th>
      </tr>
      {% endfor %}
    </thead>
    <tbody>
      {% if stu %}
      {% for s in stu %}
      <tr>
        <th>
          <img
            class="account-img rounded"
            src="{{s.student.profile.image.url}}"
            width="25"
            height="25"
            alt="Smiley face"
          />
        </th>
        <td>{{s.student.first_name}}</td>
        <td>{{s.student.last_name}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
