{% extends "static/base.html" %}
{% block title %} Respuestas {% endblock %}
{% block content %}
{% load static %}

<div class="bg-white border rounded py-3 px-5">
  <hr />

  <legend><b>Respuestas</b></legend>

    {% for p in owa %}
    <hr />
    <div class="container px-5">
      <div class="form-group text-left">
        <legend>Ejercicio - {{ p.title }} - 
          {% if p.validation == "True" or p.validation == "Correcto"%}
          Correcto
          {%else%} Incorrecto
          {%endif%}
        </legend>
        <div class="container px-3">
          <legend class="bg-light border rounded text-center py-2">
            <b>$${{ p.formula }}$$</b>
          </legend>
        </div>
      </div>

      {% if wa.classess.type_c_id == 1 %}
      

      {% elif wa.classess.type_c_id == 2 %}
      

      {% elif wa.classess.type_c_id == 3 %}
      

      {% elif wa.classess.type_c_id == 4   %}
      <b>Respuesta del estudiante: {{p.your_results}}</b>
      {% if p.validation != "True" %}
      <br><b>Respuesta correcta: {{p.aux}}</b> 
      {% endif %}
      <div class="form-group text-center">
        <img src="{% static 'static/graph/' %}Graph{{p.work_id}}_{{p.title}}.svg" height="500 px" width="500 px">
      </div>

      {% endif %}
    </div>
    {% endfor %}
    <br/>
    <a
    href="/listCalassrooms/{{name}}/listHomework/{{name_work}}"
    type="button"
    class="px-4 btn badge-pill btn-danger"
  >
    Regresar
  </a>

 
</div>

<!-- MathLive -->
<script type="module">
  import {renderMathInDocument} from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";
  renderMathInDocument();
</script>

{% endblock %}
