{% extends "static/base.html" %}
{% block title %} Empezar el trabajo {% endblock %}
{% block content %}
{% load static %}

<div class="bg-white border rounded py-3 px-5">
  {% if perms.center.add_classes %}
  <legend><b>Promedio de los estudiantes</b></legend>
  <div class="list-group list-group-horizontal">
    {% if valid.type_a_id == 1 %}
    <a
      href="/listCalassrooms/{{name}}/listHomework/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
      >Regresar</a
    >
    <a
      href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/editWorkHome/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
      >Detalles de la Tarea</a
    >
    {% elif valid.type_a_id == 2 %}
    <a
      href="/listCalassrooms/{{name}}/listExam/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
      >Regresar</a
    >
    <a
      href="/listCalassrooms/{{name}}/listExam/{{name_work}}/editWorkExam/"
      class="list-group-item list-group-item-info list-group-item-action text-dark"
      >Detalles del Examen</a
    >
    {% endif %}
  </div>
  <hr />

  {% if awa %}
  <table class="table border table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Estudiante</th>
        <th>Promedio</th>
        <th>Respuestas</th>
      </tr>
    </thead>
    <tbody>
      {% for a in awa %}
      <tr>
        <td>{{a.student.first_name}} {{a.student.last_name}}</td>
        <td>{{a.average}}</td> 
        <th><!--<a
        href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/viewAnswer/{{a.student_id}}"
        class="text-dark"
      ><b>Ver</b>
      </a>--> <button
            type="button"
            class="px-4 btn badge-pill btn-secondary"
            onclick="window.location.href='/listCalassrooms/{{name}}/listHomework/{{name_work}}/viewAnswer/{{a.student_id}}'"
          >
            Ver
          </button></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <b>Los alumnos todavia no han contestado actividades</b>
  {% endif %}
  {% elif perms.center.add_classrooms %}
  {% if valid.active %}
  {% if valid.type_a_id == 1 %}
  <legend><b>Tarea</b></legend>
  <hr />
  <form method="POST">
    {% csrf_token %}

    <a href="/listCalassrooms/{{name}}/listHomework/">
      <button
        onclick="return startWork()"
        type="submit"
        name="accept"
        class="px-4 btn badge-pill btn-danger"
      >
        Regresar
      </button>
    </a>
    <button
      onclick="return startWork()"
      type="submit"
      name="accept"
      class="px-4 btn badge-pill btn-success"
    >
      Iniciar Tarea
    </button>
  </form>

  {% elif valid.type_a_id == 2 %}
  <legend><b>Examen</b></legend>
  <hr />
  <form method="POST">
    {% csrf_token %}

    <a href="/listCalassrooms/{{name}}/listExam/">
      <button
        onclick="return startWork()"
        type="submit"
        name="accept"
        class="px-4 btn badge-pill btn-danger"
      >
        Regresar
      </button>
    </a>
    <button
      onclick="return startWork()"
      type="submit"
      class="px-4 btn badge-pill btn-danger"
    >
      Iniciar Examen
    </button>
  </form>
  {% for e in awa2 %}
  <div class="form-group text-left">
        <legend>Ejercicio - {{ e.title }} -  
          {% if e.validation == "True" or e.validation == "Correcto"%}
          Correcto
          {%else%} Incorrecto
          {%endif%}
        </legend>
        <div class="container px-3">
          <legend class="bg-light border rounded text-center py-2">
            <b>$${{ e.formula }}$$</b>
          </legend>
        </div>
      </div> 
  <b>Respuesta del estudiante: {{e.your_results}}</b>
      {% if e.validation != "True" %}
      <br><b>Respuesta corecta: {{e.aux}}</b> 
      {% endif %}
      <div class="form-group text-center">
        <img src="{% static 'static/graph/' %}Graph{{e.work_id}}_{{e.title}}.svg" height="500 px" width="500 px">
      </div>

  {% endfor %}


  {% endif %}
  {% else %}
  <hr />
  Tu calificacion es:
  <legend>{% if average %} {{s.average}} %{% else %} {{s}} %{% endif %}</legend>
     
  {% for e in awa2 %}
  <div class="form-group text-left">
        <legend>Ejercicio - {{ e.title }} -  
          {% if e.validation == "True" or e.validation == "Correcto"%}
          Correcto
          {%else%} Incorrecto
          {%endif%}
        </legend>
        <div class="container px-3">
          <legend class="bg-light border rounded text-center py-2">
            <b>$${{ e.formula }}$$</b>
          </legend>
        </div>
      </div> 
  <b>Respuesta del estudiante: {{e.your_results}}</b>
      {% if e.validation != "True" %}
      <br><b>Respuesta corecta: {{e.aux}}</b> 
      {% endif %}
      <div class="form-group text-center">
        <img src="{% static 'static/graph/' %}Graph{{e.work_id}}_{{e.title}}.svg" height="500 px" width="500 px">
      </div>

  {% endfor %}

  {% endif %}
  {% endif %}
</div>

<!-- MathLive -->
<script type="module">
  import {renderMathInDocument} from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";
  renderMathInDocument();
</script>

{% endblock %}
