{% extends "static/base.html" %}
{% block title %}
Entrar
{% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>LogIn User</b></legend>
  <form method="POST">
    {% csrf_token %}

    <div class="form-group text-left">
      <label>No. Control / Nombre de usuario:</label>
      <input
        type="text"
        name="username"
        autofocus
        autocapitalize="none"
        autocomplete="username"
        required
        id="id_username"
        class="form-control"
      />
    </div>
    <div class="form-group text-left">
      <label>Contraseña:</label>
      <input
        type="password"
        name="password"
        autocomplete="current-password"
        required
        id="id_password"
        class="form-control"
      />
    </div>

    <div class="from-group">
      <button class="px-4 btn badge-pill btn-info" type="submit">Login</button>
    </div>
  </form>

  <div class="boder-top pt-3">
    <small class="text-muted">
      ¿No tienes una cuenta? <a class="ml-2" href="/register/">Registrate aquí</a>
    </small>
  </div>
</div>
{% endblock %}
