{% extends "static/base.html" %}
{% block title %} Salir {% endblock %}
{% block content %}
<div class="content-selection">
    <H2>Necesitas regresar</H2>
    <div class="boder-top pt-3">
        <small class="text-muted">
            Necesitas Entrar? <a class="ml-2" href="/login/">Entrar otra ves</a>
        </small>
    </div>
</div>
{% endblock %}