{% extends "static/base.html" %}
{% block title %} Cambiar contraseña {% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">Perfil</button>
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">Informacion General</a>
            <a href="{% url 'pass' %}" class="list-group-item list-group-item-action">Cambiar contraseña</a>
            <a href="{% url 'deleteUser' %}" onclick="return deleten()" class="list-group-item list-group-item-danger list-group-item-action">Eliminar Usuario</a>
        </div>
    </div>

    <div class="col-md-8">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" width="200" height="200" src="{{user.profile.image.url}}">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="formulation">
            <form method="post">
                {% csrf_token %}
                <fieldset class="from-grup">
                    <legend class="border-botton mb-4">Cambiar contraseña:</legend>
                    <div>
                        <label for="id_old_password">Conraseña actual:</label>
                        <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                    </div>
        
                    <div>
                        <label for="id_new_password1">Contraseña nueva:</label>
                        <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                        <span class="helptext">
                            <ul>
                                <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                                <li>Su contraseña no puede ser una contraseña de uso común.</li>
                            </ul>
                        </span>
                    </div>
        
                    <div>
                        <label for="id_new_password2">Confirmar nueva contraseña:</label>
                        <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                    </div>
                    <br>
                    <div class="from-group">
                        <button class="px-4 btn badge-pill btn-info" type="submit">Actualizar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function deleten() {
          var x = confirm("want delete your user ?");
          if (x)
            return true;
          else
            return false;
        }
      </script>

</div>
<br>
{% endblock %}