{% extends "static/base.html" %}
{% block title %} Registrar {% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend class="border-botton m4">Registrar Usuario</legend>

  <form method="POST">
    {% csrf_token %}

    <div class="form-group text-left">
      <label>Nombre(s):</label>
      <input
        type="text"
        name="first_name"
        maxlength="150"
        required
        class="form-control"
        placeholder="Ingresa tu nombre..."
      />
    </div>

    <div class="form-group text-left">
      <label>Apellido(s):</label>
      <input
        type="text"
        name="last_name"
        maxlength="150"
        required
        class="form-control"
        placeholder="Ingresa tu apellido..."
      />
    </div>

    <div class="form-group text-left">
      <label>No. Control:</label>
      <input
        type="number"
        name="username"
        min="11111111"
        min="99999999"
        maxlength="8"
        required
        class="form-control"
        placeholder="12345678"
      />
    </div>

    <div class="form-group text-left">
      <label>Email:</label>
      <input
        type="email"
        name="email"
        required
        class="form-control"
        placeholder="Ingresa tu email..."
      />
    </div>

    <div class="form-group text-left">
      <label>Contraseña:</label>
      <input
        type="password"
        class="form-control"
        name="password1"
        autocomplete="new-password"
        required
        placeholder="Ingresa tu contraseña..."
      />
      <small class="form-text text-muted">
        <ul>
          <li>
            Su contraseña no puede ser muy similar a su otra información
            personal.
          </li>
          <li>Su contraseña debe contener al menos 8 caracteres.</li>
          <li>Su contraseña no puede ser una contraseña de uso común.</li>
        </ul>
      </small>
    </div>

    <div class="form-group text-left">
      <label>Verificar Contraseña:</label>
      <input
        type="password"
        class="form-control"
        name="password2"
        autocomplete="new-password"
        required
        placeholder="Repite tu contraseña..."
      />
      <small class="form-text text-muted"
        >Ingrese la misma contraseña que antes, para la verificación.</small
      >
    </div>

    <div class="form-group text-left">
      <label>Tipo de usuario:</label>
      <select class="custom-select" name="accountType" required>
        <option value="student" selected>Estudiante</option>
        <option value="teacher">Maestro</option>
      </select>
    </div>

    <div class="from-group">
      <button class="px-4 btn badge-pill btn-info" type="submit">
        Regístrate
      </button>
    </div>
  </form>
  <div class="boder-top pt-3">
    <small class="text-muted">
      ¿Ya tienes una cuenta? <a class="ml-2" href="{% url 'login' %}">Entrar</a>
    </small>
  </div>
</div>

{% endblock %}
