html,
body {
  height: 100%;
}

body {
  display: flex;
}

.hiden {
  display: none;
}

.shown {
  display: block;
}

 /* BOOTSTRAP MODIFICATIONS  */
.nav-link:focus,
.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}
.nav-link {
  color: rgba(255, 255, 255, 1);
}
.nav-link.active,
.nav-link.show {
  color: #fff;
}

.my-form-control {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.my-form-control-array {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.my-form-control-array-focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.anchor-hv:hover {
  cursor: hand;
}