<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST</title>

    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
      }

      .hiden {
        display: none;
      }

      .shown {
        display: block;
      }

      /* BOOTSTRAP MODIFICATIONS */
      .nav-link {
        color: rgba(255, 255, 255, 0.5);
      }
      .nav-link:focus,
      .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
      }
      .nav-link. {
        color: rgba(255, 255, 255, 0.25);
      }
      .nav-link.active,
      .nav-link.show {
        color: #fff;
      }

      .my-form-control {
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
      }

      .my-form-control-array {
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
      }

      .my-form-control-array-focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: inset 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    </style>
  </head>
  <body class="text-center bg-light" onload="preparar()">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
      <header class="mb-auto">
        <nav class="navbar navbar-dark bg-primary">
          <a class="navbar-brand mb-0 h1" href="/">MateFacil</a>
        </nav>
      </header>

      <main role="main" class="inner">
        <div class="container-fluid mt-3 mb-3">
          <div class="row align-items-center justify-content-center">
            <div class="col-11">
              <form action="/test/" method="POST">
                {% csrf_token %}
                <input
                  type="hidden"
                  id="values"
                  name="values"
                  value="{% for var in vars %}{{var}}{% endfor %}"
                />
                <div id="tabla" class="row justify-content-center"></div>
                <button
                  type="submit"
                  class="px-4 btn badge-pill badge-pill btn-success mt-3 px-5"
                >
                  Listo
                </button>
              </form>
            </div>
          </div>
        </div>
      </main>

      <footer class="bg-dark text-white p-3 mt-auto">
        <div class="inner">Created by <b>Yorologo</b></div>
      </footer>
    </div>

    <!-- MathLive -->
    <script type="module">
      import MathLive from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";

      preparar = () => {
        let variables = Array.from(document.getElementById("values").value);
        let tablaVerdad = new Array(variables.length);
        let contenido = ``;

        tablaVerdad.fill(false);

        variables.forEach((element) => {
          contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2" > $$${element}$$ </div>`;
        });

        contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2" > $$Respuesta$$ </div>`;

        // console.log(variables.length);
        for (let i = 0; i < 2 ** variables.length; i++) {
          contenido += ` <div class="w-100"></div>`;

          for (let j = 0; j < variables.length; j++) {
            contenido += `<div class="col my-form-control-array text-center pt-3 pb-2"><input type="hidden" name="${i}${j}" value="${
              tablaVerdad[variables.length - j - 1] ? "1" : "0"
            }" />${
              tablaVerdad[variables.length - j - 1] ? "$$True$$" : "$$False$$"
            }</div>`;
          }

          for (let index = 0; index < tablaVerdad.length; index++) {
            if (tablaVerdad[index]) {
              tablaVerdad[index] = false;
            } else {
              tablaVerdad[index] = true;
              break;
            }
          }

          contenido += `<select class="custom-select col my-form-control-array text-center" name="r${i}" required > <option class="text-muted" value="" selected> Elige... </option> <option class="font-weight-bold text-success" value="1"> Verdadero </option> <option class="font-weight-bold text-danger" value="0"> Falso </option> </select>`;
        }

        document.getElementById("tabla").innerHTML = contenido;
        MathLive.renderMathInDocument();
      };
    </script>

    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script>
      preparar = () => {};
    </script>
  </body>
</html>
