{% extends "static/base.html" %}
{% block title %} Crear Practica {% endblock %}
{% block content %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>Selecciona el tipo de formula:</b></legend>
  <form action="{% url 'generationPractice' %}" method="POST">
    {% csrf_token %}

    <div class="form-group text-left">
      <label>Tipo de problema:</label>
      <select
        name="tip"
        id="selectBox"
        onchange="changeForm()"
        class="form-control">

        {% for t in query %}
        <option value="{{t.id}}">{{t.name}}</option>
        {% endfor %}
      </select>
    </div> 

    <div class="form-group text-left" id="form-group1" style="display: none">
      <label
        >Tamaño de la operación:
        <span class="badge badge-secondary" id="size-info">1</span></label
      >
      <input type="hidden" name="size" id="size-value" value="1" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="10"
        value="1"
        id="size"
      />
      <script>
        document.getElementById("size").oninput = function () {
          document.getElementById("size-info").innerHTML = 10 ** this.value;
          document.getElementById("size-value").value = 10 ** this.value;
        };
      </script>
    </div>

    <div class="form-group text-left" id="form-group2" style="display: none">
      <label
        >Máximo número de variables:
        <span class="badge badge-secondary" id="propSim-info">1</span></label
      >
      <input type="hidden" name="propSim" id="propSim-value" value="1" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="4"
        value="1"
        id="propSim"
      />
      <script>
        document.getElementById("propSim").oninput = function () {
          document.getElementById("propSim-info").innerHTML = this.value;
          document.getElementById("propSim-value").value = this.value;
        };
      </script>
    </div>

    <div class="form-group text-left" id="form-group3" style="display: none">
      <label
        >Máxima profundidad:
        <span class="badge badge-secondary" id="maxProf-info">1</span></label
      >
      <input type="hidden" name="maxProf" id="maxProf-value" value="1" />
      <input
        type="range"
        class="form-control-range"
        min="1"
        max="4"
        value="1"
        id="maxProf"
      />
      <script>
        document.getElementById("maxProf").oninput = function () {
          document.getElementById("maxProf-info").innerHTML = this.value;
          document.getElementById("maxProf-value").value = this.value;
        };
      </script>
    </div>

    <div class="form-group text-left" id="form-group4" style="display: none">
      <label>Operación:</label>
      <div class="form-inline">
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="+" checked />
          <label class="form-check-label ml-2">Suma</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="-" />
          <label class="form-check-label ml-2">Resta</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="z" />
          <label class="form-check-label ml-2">Multiplicación</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="radio" name="operation" value="/" />
          <label class="form-check-label ml-2">División</label>
        </div>
      </div>
    </div>

    <div class="form-group text-left" id="form-group5" style="display: none">
      <label>Funciones extras:</label>
      <div class="form-inline">
        <div class="mr-2 input-group-text">
          <input type="checkbox" name="extras" value="n" />
          <label class="form-check-label ml-2">Negativo</label>
        </div>
        <div class="mr-2 input-group-text">
          <input type="checkbox" name="extras" value="d" />
          <label class="form-check-label ml-2">Decimales</label>
        </div>
      </div>
    </div>

    <div class="form-group text-left" id="form-group-Graph" style="display: none">
      <label>Orden: 
        <span class="badge badge-secondary" id="sizeGraph-info">3</span></label>
      <input type="hidden" name="sizeGraph" id="sizeGraph-value" value="3" />
      <input
        type="range" 
        class="form-control-range"
        min="3"
        max="15"
        value="3"
        id="sizeGraph"
      />
      <script>
        document.getElementById("sizeGraph").oninput = function () {
          document.getElementById("sizeGraph-info").innerHTML = this.value;
          document.getElementById("sizeGraph-value").value = this.value;
          console.log(this.value)
        };
      </script>
    </div>

    <button type="submit" class="px-4 btn badge-pill btn-success">Aceptar</button>
  </form>
</div>

<script>
  var op1 = document.getElementById("operation1");
  var op2 = document.getElementById("operation2");
  var op3 = document.getElementById("operation3");
  var op4 = document.getElementById("operation4");

  var selectBox = document.getElementById("selectBox");
  var fg1 = document.getElementById("form-group1");
  var fg2 = document.getElementById("form-group2");
  var fg3 = document.getElementById("form-group3");
  var fg4 = document.getElementById("form-group4");
  var fg5 = document.getElementById("form-group5");
  var fgG = document.getElementById("form-group-Graph");

  function checkOne() {
    if (!(op1.checked || op2.checked || op3.checked || op4.checked))
      op1.checked = true;
  }

  function changeForm() {
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    console.log(selectedValue)
    switch (selectedValue) {
      case "1": {
        fg1.style.display = "block";
        fg2.style.display = "none";
        fg3.style.display = "none";
        fg4.style.display = "block";
        fg5.style.display = "block";
        fgG.style.display = "none";
        break;
      }
      case "2": {
        fg1.style.display = "block";
        fg2.style.display = "none";
        fg3.style.display = "none";
        fg4.style.display = "none";
        fg5.style.display = "none";
        fgG.style.display = "none";
        break;
      }
      case "3": {
        fg1.style.display = "none";
        fg2.style.display = "block";
        fg3.style.display = "block";
        fg4.style.display = "none";
        fg5.style.display = "none";
        fgG.style.display = "none";
        break;
      }
      case "4": {
        fg1.style.display = "none";
        fg2.style.display = "none";
        fg3.style.display = "none";
        fg4.style.display = "none";
        fg5.style.display = "none";
        fgG.style.display = "block";
        break;
      }
    }
  }
</script>

{% endblock %}
