{% extends "static/base.html" %}
{% block title %} Index {% endblock %}
{% block content %}
{% load static %}
<div class="card">
	<!--<img src="{% static 'static/graph/output.svg' %}" height="400 px">-->
  <img src="{% static 'static/images/img/mate.jpg' %}" alt="" class="img-fluid rounded">
  <div class="card-img-overlay d-flex">
    <div class="container align-self-center row justify-content-around">
      <h1 class="display-1 bg-white rounded-pill py-3 px-5"><b>MateFacil</b></h1>
    </div>
  </div>
</div>
{% endblock %}