{% extends "static/base.html" %}
{% block title %}
Practicar
{% endblock %}
{% block content %}
{% load static %}

<div class="bg-white border rounded py-3 px-5">
  <div class="container"> <div class="row">
  <div class="col-7 text-right h3"><b>Operaciones de practica</b></div>
  <div class="col-5 text-left">
  <a href="{% url 'createPractice' %}">
    <button type="button" class="mb-3 px-4 btn badge-pill btn-info">
      Generar Nueva Operación
    </button>
  </a>
</div></div>
<tr/>
  {% if list %}
  <table class="table border table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Operación</th>
        <th class="text-center">Problema</th>
        <th>Respuesta correcta</th>
        <th>Resultado</th>
        <th>Tu respuesta</th>
        <!--<th>Ver</th>-->
      </tr>
    </thead>
    <tbody>
      {% for l in list %}
      <tr>
        <th scope="row">{{l.title}}</th>
        <td><a class="anchor-hv" href="#" data-touggle="tooltip" title="Ver Grafo" 
          onclick="showGraph('{{ l.users_id }}','{{ l.title }}')">
        {{l.formula}}</a></td>
        {% if l.validation %}
        {%if l.validation == "Correcto" or l.validation == "True" %}
        <td>$${{l.your_results}}$$</td>

        <td class="text-center text-success"><b>
          Correcto
        </b></td>
        <td>
          {% if l.type_c_id == 3 %}
          <button
            type="button"
            class="px-4 btn badge-pill btn-secondary"
            onclick="preparar('{{ l.aux }}','{{ l.your_results }}')"
          >
            Ver
          </button>
          {% elif l.type_c_id == 5 %}
          $${{l.your_results}}$$

          {% else %} $${{l.your_results}}$$ {% endif %}
        </td>
        {% else %}
        <td>
          {% if l.type_c_id == 3 %}
          <button
            type="button"
            onclick="preparar('{{ l.aux }}','{{ l.results }}')"
            class="px-4 btn badge-pill btn-secondary"
          >
            Ver
          </button>
          {% elif l.type_c_id == 4 %} $${{ l.aux }}$$

          {% else %} $${{l.results}}$$ {% endif %}
        </td>
        <td class="text-center text-danger"><b>Incorrecto</b></td>
        <td>
          {% if l.type_c_id == 3 %}
          <button
            type="button"
            class="px-4 btn badge-pill btn-secondary"
            onclick="preparar('{{ l.aux }}', '{{ l.your_results }}')"
          >
            Ver
          </button>

          {% elif l.type_c_id == 4 %}
          $${{l.your_results}}$$

          {% else %} $${{l.your_results}}$${% endif %}
        </td>
        {% endif %}
        {% else %}
        <th></th>
        <td>Sin respuesta</td>
        <td>
          <a href="{% url 'practice' l.pk %}">
            <button type="button" class="px-4 btn badge-pill btn-info">
              <span class="glyphicon glyphicon-open">Resolver</span>
            </button>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <hr/>
  <legend>No hay practicas</legend>
  {% endif %}
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          id="tabla"
          class="row justify-content-center mx-3"
          onreadystatechange="preparar()"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Graph-->
<div
  class="modal fade"
  id="ModalGraph"
  tabindex="-1"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          id="graph"
          class="row justify-content-center mx-3"
          onreadystatechange="showGraph()"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- MathLive -->
<script type="module">
  import {renderMathInDocument} from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";

  renderMathInDocument();

  preparar = (_variables, _values) => {
    let variables = Array.from(_variables);
    let values = Array.from(_values);
    let contenido = ``;

    variables.forEach((element) => {
      contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2" > $$${element}$$ </div>`;
    });

    contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2" > $$Respuesta$$ </div>`;

    // console.log(variables.length);
    for (let i = 0, j = 0; i < 2 ** variables.length; i++, j++) {
      contenido += ` <div class="w-100"></div>`;

      for (let k = 0; k < variables.length; j++, k++) {
        contenido += `<div class="col my-form-control-array text-center">${
          values[j] === "1" ? "$$Verdadero$$" : "$$Falso$$"
        }</div>`;
      }

      contenido += `<div class="col my-form-control-array text-center ${
        values[j] === "1" ? 'text-success">$$Verdadero$$' : 'text-danger">$$Falso$$'
      }</div>`;
    }

    document.getElementById("tabla").innerHTML = contenido;
    renderMathInDocument();
    $("#Modal").modal();
  };
</script>
<script>
  preparar = (_variables, _values) => {};
</script>

<!-- show Graph -->
<script type="module">
  import {renderMathInDocument} from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";

  renderMathInDocument();

  showGraph = (_user,_title ) => {
    console.log("showGraph")
    let user = _user;
    let title = _title;
    let contenido = ``;
    var url1= "<img src='{% static 'static/graph/' %}Graph";
    var url2= "_";
    var url3= ".svg' height='500 px' width='500 px'>";
    //user2=user.replace(',', '');
    //title2=title.replace(',', '');
    contenido= url1+user+url2+title+url3;
    //contenido = `<img src="{% static 'static/graph/' %}Graph{{p.users_id}}_{{p.title}}.svg" height="500 px" width="500 px">`;
    console.log(contenido);
    document.getElementById("graph").innerHTML = contenido;
    renderMathInDocument();
    $("#ModalGraph").modal();
  };
</script>
<script>
  showGraph = (_user, _title) => {};
</script>

{% endblock %}
