{% extends "static/base.html" %}
{% block title %}
Practica
{% endblock %}
{% block content %}
{% load static %}

<div class="bg-white border rounded py-3 px-5">
  <legend><b>Practicas</b></legend>
  <label>Responda los problema y conteste en las casillas correspondientes</label>
  {% for t in type%}
  {% if t.type_c.name == "Grafos"   %}
        <label>
          Escribe tu respuesta con los numeros de los nodos separados por comas. Ejemplo: 1,0,3
        </label>
      {% endif %}
      {% endfor %}

  <form action="validationPractice/" method="POST">
    {% csrf_token %}
    {% for t in type%}
    <hr />
    <div class="container px-5">
      <div class="form-group text-left">
        <legend>{{ p.title }}</legend>
        <div class="container px-3">
          <label
            >Problema del tipo <b><i>{{ t.type_c.name }}</i></b> a
            resolver:</label
          >
          <legend class="bg-light border rounded text-center py-2">
            <b>$${{ p.formula }}$$</b>
          </legend>
        </div>
      </div>

      {% if t.type_c.name == "Desigualdad" %}
      <div class="form-group text-center">
        <label>Seleccione una de las opciones para determinar, la comparación de los dos números:</label>
        <div class="form-inline d-flex flex-row justify-content-center">
          <div class="mr-2 input-group-text">
            <input
              type="radio"
              name="respuesta"
              value="mayor_que"
              checked
            />
            <label class="form-check-label ml-2">></label>
          </div>
          <div class="mr-2 input-group-text">
            <input
              type="radio"
              name="respuesta"
              value="menor_que"
            />
            <label class="form-check-label ml-2"><</label>
          </div>
          <div class="mr-2 input-group-text">
            <input
              type="radio"
              name="respuesta"
              value="igual"
            />
            <label class="form-check-label ml-2">=</label>
          </div>
        </div>
      </div><br />
      <button class="px-4 btn badge-pill btn-info" type="submit" name="btn1">
        Resultado
      </button>

      {% elif t.type_c.name == "Aritmética" %}
      <div class="form-group">
        <label>Escribe tu respuesta a continuación:</label>
      <input type="number" step="any" class="form-control text-center" name="respuesta" placeholder="Resultado">
      </div>
      <br />
      <button class="px-4 btn badge-pill btn-info" type="submit" name="btn2">
        Resultado
      </button>

      {% elif t.type_c.name == "Tabla de verdad" %}
      <input type="hidden" id="values" name="values" value="{{p.aux}}" />
      <div
        id="tabla"
        class="row justify-content-center"
        onreadystatechange="preparar()"
      ></div>
      <br />
      <button class="px-4 btn badge-pill btn-info" type="submit" name="btn3">
        Resultado
      </button>

      <!-- MathLive -->
      <script type="module">
        import MathLive from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";

        $(document).ready(function () {
          let variables = Array.from(document.getElementById("values").value);
          let tablaVerdad = new Array(variables.length);
          let contenido = ``;

          tablaVerdad.fill(false);

          variables.forEach((element) => {
            contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2"><label>$$${element}$$</label></div>`;
          });

          contenido += `<div tabindex="0" class="col bg-info text-white text-center p-2"><label>$$Respuesta$$</label></div>`;

          // console.log(variables.length);
          for (let i = 0; i < 2 ** variables.length; i++) {
            contenido += ` <div class="w-100"></div>`;

            for (let j = 0; j < variables.length; j++) {
              contenido += `<div class="col my-form-control-array text-center bg-light"><input type="hidden" name="${i}${j}" value="${
                tablaVerdad[variables.length - j - 1] ? "1" : "0"
              }"/>${
                tablaVerdad[variables.length - j - 1] ? "$$Verdadero$$" : "$$Falso$$"
              }</div>`;
            }

            for (let index = 0; index < tablaVerdad.length; index++) {
              if (tablaVerdad[index]) {
                tablaVerdad[index] = false;
              } else {
                tablaVerdad[index] = true;
                break;
              }
            }

            contenido += `<select class="custom-select col my-form-control-array text-center" name="r${i}" required > <option class="text-muted" value="" selected> Elige... </option> <option class="font-weight-bold text-success" value="1"> Verdadero </option> <option class="font-weight-bold text-danger" value="0"> Falso </option> </select>`;
          }

          document.getElementById("tabla").innerHTML = contenido;
          MathLive.renderMathInDocument();
        });
      </script>

      {% elif t.type_c.name == "Grafos" %}
      <div class="form-group text-center">
        <img src="{% static 'static/graph/' %}Graph{{p.users_id}}_{{p.title}}.svg" height="500 px" width="500 px">
        <!--{$ path="'static/graph/Graph"+p.work_id+"_"+p.title+".svg'" $}-->
        <!--<img src="{% static 'path' %}" width="800 px">-->
        <!--<b>{{p.work_id}}_{{p.title}} {{p.results}}</b>-->
        <input type="text" name="graphRes" size="20" required placeholder="1,0,3" pattern="[0-9]+(,([0-9])+)*">
      </div>
      <button class="px-4 btn badge-pill btn-info" type="submit" name="btnGrafo">
        Comprobar
      </button>
      <!------------------------------------------------------------------------------>

      {% elif t.type_c.name == "Otro Ejercicio" %}
      <div class="container my-form-control text-center p-2">
        <h1><div id="formula"></div></h1>
      </div>

      <!-- MathLive -->
      <script type="module">
        import MathLive from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";
        MathLive.renderMathInDocument();
        const mathfield = MathLive.makeMathField("formula", {
          smartMode: true,
          virtualKeyboardMode: "onfocus",
          customVirtualKeyboardLayers: {
            "matefacil-layer": {
              styles: "",
              rows: [
                [
                  {
                    class: "keycap",
                    latex: "\\vee",
                  },
                  {
                    class: "keycap",
                    latex: "\\wedge",
                  },
                  {
                    class: "keycap",
                    latex: "\\neg",
                  },
                  {
                    class: "keycap",
                    latex: "\\Rightarrow",
                  },
                  {
                    class: "keycap",
                    latex: "\\rightarrow",
                  },
                  {
                    class: "keycap",
                    latex: "\\Leftrightarrow",
                  },
                  {
                    class: "keycap",
                    latex: "\\top",
                  },
                  {
                    class: "keycap",
                    latex: "\\bot",
                  },
                ],
              ],
            },
          },
          customVirtualKeyboards: {
            "matefacil-keyboard": {
              label: "MateFacil",
              tooltip: "MateFacil keyboard",
              layer: "matefacil-layer",
            },
          },
          virtualKeyboards: "matefacil-keyboard",
        });
      </script>

      {% endif %}

      <a
        href="{% url 'listPractices'  %}"
        type="button"
        class="px-4 btn badge-pill btn-danger"
      >
        Regresar
      </a>
      {% endfor %}
    </div>
  </form>
</div>

<!-- MathLive -->
<script type="module">
  import {renderMathInDocument} from "https://unpkg.com/mathlive/dist/mathlive.min.mjs";
  renderMathInDocument();
</script>
{% endblock %}
